[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
*.csproj
*.sln
*.meta
*.pidb
*.pdb
*.tmp
*.user
*.unitypackage
*.bundle
*.so
Assets/Import Package/Custom Package/*
Assets/Firebase/Plugins/x86_64/*