[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
*.csproj
*.sln
*.meta
*.pidb
*.pdb
*.tmp
*.user

# Ignora tutti i file .unitypackage
Assets/Import Package/Custom Package/*.unitypackage

# Ignora file .so e .bundle
Assets/Firebase/Plugins/x86_64/*.so
Assets/Firebase/Plugins/x86_64/*.bundle